# Day 4
 * Data Types
     * Numbers
     * Strings
     * Variable Assignment
     * Printing
     * Strings methods
     * Lists
     * Dictionaries
     * Boolians
     * Tuples
     * Sets
 * Bsic Operations
     * Comparison Operators
     * if, elif, else ststements
     * for loops
     * while loops
     * range()
     * list comprehension
     * functions
     * lambda expressions
     * map and filter

* Integers: ...-5,-4,-3,-2,-1,0,1,2,3,4......

In [1]:
type(15)

int

* Floats: decimals, rationals, irrationals
* Exp is $\pi$, $\frac{1}{3}$

In [2]:
type(3.14)

float

In [3]:
type(0.33)

float

* Strings: Example "Moussa", 'Howard', ' ', '2', '%', '_'

In [4]:
print(type('I am single quotes'))

<class 'str'>

In [5]:
print('2')

2

In [6]:
'2'

'2'

In [7]:
int('2')

2

In [8]:
print(type("I am double quotes"))

<class 'str'>

In [9]:
print(type(" "))

<class 'str'>

* Variable Assignment: never do this $->$ 2x = "Hello"
* Can do this x2="Hello", x_2="Hello"
* Don't do this 10 = x, but x = 10
* Don't do this y = 'World!"

In [10]:
20  = x
print(x)

SyntaxError: cannot assign to literal (854173099.py, line 1)

In [11]:
x = 20
print(x)

20

In [12]:
x = 2022

* Printing

In [13]:
Name = 'Moussa Doumbia'
print(Name)

Moussa Doumbia

In [14]:
Name

'Moussa Doumbia'

In [15]:

New_First = "Moussa "
New_Last = "D"
print("Greetings,", New_First, New_Last, 'Welcome to our company')

Greetings, Moussa  D Welcome to our company

In [16]:
print('Greetings, {}{}'.format(New_First, New_Last), 
      'welcome to our company')

Greetings, Moussa D welcome to our company

In [17]:
name = 'John'

In [18]:
print(f"Hello, {name}")

Hello, John

In [20]:
name = 'Emami'
greetings = 'Welcome to data science class'

In [23]:
print('Hello {}\n {}'.format(name, greetings))

Hello Emami
 Welcome to data science class

In [24]:
print('Hello {one}\n {two}'.format(two=greetings, one =name))

Hello Emami
 Welcome to data science class

In [28]:
print('Hello ' + name +' '+ greetings)

Hello Emami Welcome to data science class

* ### Strings methods

In [32]:
# Upper() method
name = 'naomi'

In [31]:
print(name.upper())

NAOMI

In [33]:
# Title method
print(name.title())

Naomi

In [34]:
# lower() method
second_name = 'JOHN'

In [35]:
print(second_name.lower())

john

In [36]:
# Center() method
center_name = 'Saujane'

In [42]:
print(center_name.center(60))

                          Saujane

In [46]:
# Count() method
print(center_name.count('a'))

2

In [49]:
# Endwith() method
print(center_name.endswith('e'))

True

In [50]:
# Isnumeric() method
num = '123'

In [51]:
type(num)

str

In [52]:
print(num.isnumeric())

True

In [53]:
num_1 = num.isnumeric()

In [54]:
type(num_1)

bool

In [56]:
# strip method
last_name = '   Smith    '

In [57]:
len(last_name)

12

In [58]:
r_name = last_name.rstrip()

In [60]:
len(r_name)

8

In [63]:
l_name = last_name.lstrip()

In [64]:
l_name

'Smith    '

In [65]:
len(l_name)

9

In [66]:
sname = last_name.strip()

In [67]:
sname

'Smith'

In [68]:
len(sname)

5

* ## List
Lists are used to store multiple items in a single variavle. List members are created inside square brackets

In [1]:
a_list = ['apple','orange', 'mango','banana']
a_list

['apple', 'orange', 'mango', 'banana']

In [2]:
type(a_list)

list

In [3]:
# Append method
a_list.append('Peach')

In [4]:
a_list

['apple', 'orange', 'mango', 'banana', 'Peach']

In [5]:
# Pop method
a_list.pop(1)

'orange'

In [6]:
a_list[0]

'apple'

In [7]:
a_list[-1]

'Peach'

In [8]:
a_list

['apple', 'mango', 'banana', 'Peach']

In [9]:
a_list[3]

'Peach'

In [10]:
# Remove method
a_list.remove('mango')
a_list

['apple', 'banana', 'Peach']

In [11]:
b_list = a_list.copy()
b_list

['apple', 'banana', 'Peach']

* ## Dictionaries
Are used to store key: value. The items in a dictionary are created inside curly brackets {}

In [13]:
#Exp:
cars = {'Make':'Toyota','Model':'Land Cruiser','Year':2022}
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2022}

In [14]:
cars['Make']

'Toyota'

In [15]:
cars['Year'] = 2023
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2023}

In [16]:
cars['Color'] = 'black'
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2023, 'Color': 'black'}

In [17]:
cars.keys()

dict_keys(['Make', 'Model', 'Year', 'Color'])

In [18]:
cars.values()

dict_values(['Toyota', 'Land Cruiser', 2023, 'black'])

In [19]:
cars.items()

dict_items([('Make', 'Toyota'), ('Model', 'Land Cruiser'), ('Year', 2023), ('Color', 'black')])

* # Booleans

In [1]:
print(True == False)

False

In [2]:
print((2>3)or (12<56))

True

In [3]:
print((2>3)|(12<56))

True

In [4]:
print((2>3)and (12<56))

False

In [5]:
print((2>3)&(12<56))

False

In [6]:
print(10 == 9)

False

In [7]:
print(10 != 9)

True

* # Tuples are unmutable object

In [8]:
t = (1,2,3,4,5)

In [14]:
a,b,c,d,e = t

In [18]:
t[3]  = 100

TypeError: 'tuple' object does not support item assignment

In [17]:
t[-1]

5

* # Sets: Do not repeat set member

In [23]:
L = [1,1,1,2,3,3,3,4,5,6,7,7,7,8,9,9,9]

In [24]:
s1 = set(L)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

 # Basic operations

* ### if, elif, else statements

In [25]:
seq = [1,2,3,4,5,6,7,8,9]

In [29]:
my_list = ['John','Jon','Josh','Abel','Mike','Sean','West','Abdul']

In [30]:
name = 'Mia'

In [31]:
if name in my_list:
    print('Student')
else:
    print('Not a student')

Not a student

In [41]:
new = 'johns'

In [42]:
if new in my_list:
    print('Student')
elif new[0].upper() == 'J':
    print('Sounds familiar')
else:
    print('Not a student')

Sounds familiar