In [2]:
import pandas as pd
import numpy as np
import os
from matplotlib import pyplot as plt
import seaborn as sns
from matplotlib.ticker import FuncFormatter

In [5]:
names_dir = 'C:/Users/Super/Desktop/FALL22_DS/baby_names/'
names_data_list = []
names_columns = ['state', 'gender', 'year', 'name', 'babies']
for file in os.listdir(names_dir):
    if file.endswith('.TXT'):
        names_data = pd.read_csv(names_dir + file, header=None, names = names_columns)
        names_data_list.append(names_data)
    else:
        continue
names_data = pd.concat(names_data_list)

In [6]:
data = names_data[names_data['year'] >= 1950]

In [7]:
data.head(2)

     state gender  year   name  babies
1269    AK      F  1950   Mary      71
1270    AK      F  1950  Linda      68

In [8]:
data.groupby('gender')['babies'].sum() / data['babies'].sum()

gender
F    0.470011
M    0.529989
Name: babies, dtype: float64

In [9]:
total_babies = data.babies.sum()
female_percent = data[data.gender == 'F']

C:\Users\Super\AppData\Local\Temp\ipykernel_26560\321060875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.gender = data['gender']

In [10]:
most_popular_names = (data.groupby(['name', 'gender']).babies.sum().reset_index().sort_values('babies', ascending = False))

In [11]:
most_popular_names[:20]

              name gender   babies
21483      Michael      M  3918662
13220        James      M  2902195
7440         David      M  2899746
14681         John      M  2755438
25319       Robert      M  2583575
30987      William      M  2141116
6137   Christopher      M  2023532
14927       Joseph      M  1714987
7131        Daniel      M  1704286
20916      Matthew      M  1592315
29429       Thomas      M  1477785
14150     Jennifer      F  1457797
25159      Richard      M  1440520
20784         Mary      F  1354537
20565         Mark      M  1284605
2376       Anthony      M  1260355
14947       Joshua      M  1222291
28230       Steven      M  1194673
2010        Andrew      M  1168139
16850        Kevin      M  1163251