In [1]:
import pandas as pd
import numpy as np
import random
import string

* # Series is just a single colum of data

In [2]:
# Creating a series
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# creating a list of aplhabets using the string.ascii_uppercase method returns list of alphabets in uppercase
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [4]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [5]:
#pd.Series(data = (variable),label)
series1 = pd.Series(data = data1,index = index1)
series1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [6]:
dico = {k:v for k,v in zip(index1,data1)}

In [7]:
series2 = pd.Series(dico)
series2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [8]:
d1f = pd.DataFrame(random.randint(5,5),index = 'A/B/C/D/E'.split("/"), columns = 'V/W/X/Y/Z'.split("/"))
df

NameError: name 'df' is not defined

In [ ]:
#or
df = pd.DataFrame(np.random.randn(5,5),index = 'A/B/C/D/E'.split("/"), columns = 'V/W/X/Y/Z'.split("/"))
df

In [ ]:
# How to grab data from this frame
# Selecting Colums
df[['V','X']]

In [ ]:
# use .iloc[numeical index of the row the index of the first row is always 0] to selct a particular row
df.iloc[0]

In [ ]:
#.loc[name of row][name of colum] use the method to selcet a specific number from the data set.
df.loc['B']['V']

In [ ]:
#imposing conditions to data frame
df['W'] > 0

In [ ]:
df[df['W'] > 0]

In [ ]:
# Creating a new colum and adding it to the data frame
df['U'] = df['V'] + df['Z']

In [ ]:
df

# * Merging

In [24]:
left = pd.DataFrame({'key':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})

right = pd.DataFrame({'key':['K0','K1','K2','K3'],'C': ['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [25]:
#pd.merge(dataframe 1, dataframe 2, how = 'inner', on = a row/colum both data sets have in common)
pd.merge(left ,right,how = 'inner', on = 'key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [31]:
left = pd.DataFrame({'key1':['K0','K1','K2','K3'],
                     'key2'['K0','K1','K0','K1'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})

right = pd.DataFrame({'key1':['K0','K1','K2','K3'],
                      'key2'['K0','K0','K0','K0'],
                      'C': ['C0','C1','C2','C3'],
                      'D':['D0','D1','D2','D3']})

SyntaxError: invalid syntax (1483147559.py, line 2)

In [26]:
df_out = pd.merge(left, right, how = 'outer', on = ['key1','key2'])
df_out

KeyError: 'key1'

# .Join

In [16]:
left1 = pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']},index = ['K0','K1','K2','K3'])

right1 = pd.DataFrame({'C': ['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']},index = ['K0','K1','K2','K3'])

In [19]:
import IPython.display

In [21]:
display(left1,right1)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
K3  A3  B3

     C   D
K0  C0  D0
K1  C1  D1
K2  C2  D2
K3  C3  D3

In [22]:
left1.join(right1)

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2
K3  A3  B3  C3  D3

In [23]:
df_out = pd.merge(left,right, how = 'outer', on = 'key')
df_out

KeyError: 'key'