# Day 4
* Data types
    * Integers
    * Strings
    * Printing
    * String Methods
    * Lists
    * Booleans
    * Dictionaries
    * Tuples
    * Sets
    * Printing
    * Sets
* Basic Operations
    * Comparison Operators
    * For Loops
    * if, elif, else statements
    * while loops
    * range()
    * list comprehension
    * functions
    * lambda expressions
    * map and filter

In [1]:
# Integers: -1, 1, 3, -30, 1000, There are no decimals in an integer
type(5)

int

In [2]:
#Floats : Decimals, fractions, irrational numbers, rational numbers
type(3.14)

float

* Exp is  $\pi$, $\frac{1}{3}$

In [5]:
# Strings: Alphanumeric Characters/ Scentences, must be in "" i.e: "Hello World", 'Bruh', '12', "14"
# DO NOT MIX THE '' AND THE "" IN A SINGLE STRING
# Use '' for a single word, use " " for a scentence, and use '" "' for a multiline scentence(in python only).
print(type("This is a double quote string"))

<class 'str'>

In [4]:
print(type('This is a singe quote string'))

<class 'str'>

In [6]:
#Variable assignment: Cant be a number and must be on the left side of the "=" sign
# 2 = 4 (Never do this)
# 4 = x ( Dont do this either)
# You can do this x2 = 4 or x_2 = 4 but not 2x = 4 (Think algebra)
x = 14
y = 'World'
z = "Hello"
print(x, y, z)

14 World Hello

In [2]:
#Cool Ways to use the print() statement
Firstname = "Mark"
Lastname = "Twain"
print('Greetings,', Firstname, Lastname, ', Welcome to our company.')

Greetings, Mark Twain , Welcome to our company.

In [3]:
print('Greetings, {} {}' .format(Firstname, Lastname))

Greetings, Mark Twain

In [4]:
#F strings
name = 'Jerry'
print(f"Hello!, {name}")

Hello!, Jerry

In [5]:
# If you dont wanna respect the order of the .format method
print('Greetings, {one} {two}' .format(two = Firstname, one = Lastname))

Greetings, Twain Mark

* ### String Methods

In [6]:
# String method: Upper() makes all characters in a string uppercase
name = 'george'
print(name.upper())

GEORGE

In [7]:
# title() method makes the first character uppercase
print(name.title())

George

In [8]:
#lower() method makes all characters in a string lowercase
NewName = 'LIAM'
print(NewName.lower())

liam

In [12]:
#center(put a number in here) method prints the string to the middle of a line depending on the number placed in the parameters
center_name = 'Susan'
print(center_name.center(70))

                                Susan

In [13]:
#count('place a chracter or string in here') method, counts the amount a specific character appears in a string (case sensitive)
print(center_name.count('s'))

1

In [14]:
#endswith('place a character in here') returns true if a string ends with a certain charcter
print(center_name.endswith('n'))

True

In [15]:
#isnumeric() method returns true if the string only has numbers
num = '123'
type(num)

str

In [16]:
print(num.isnumeric())

True

In [20]:
#strip() removes the spaces in the string.
#lstrip() stips all the spaces on the left side of the string
#rstrip() strips all the spaces on the right side of the string
last_name = '  Smith  '

In [21]:
#len() returns the length of the string
print(len(last_name))

9

In [22]:
r_name = last_name.rstrip()

In [23]:
print(len(r_name))

7

In [24]:
sname = last_name.strip()
print(sname)

Smith

## * List
Lists are used to store multiple items in a single variable. List members are created inside square brackets "[]"

In [1]:
a_list = ['apple', 'orange', 'mango', 'banana', ]
a_list

['apple', 'orange', 'mango', 'banana']

In [2]:
type(a_list)

list

In [3]:
#append() method adds a member to a list
a_list.append('peach')
a_list

['apple', 'orange', 'mango', 'banana', 'peach']

In [4]:
#pop(index of member you want to remove) removes a member of a list at the specfic index
a_list.pop(1)
a_list

['apple', 'mango', 'banana', 'peach']

In [5]:
a_list[0]

'apple'

In [6]:
# putting -1 as the index will return the last member of the list no matter what
a_list[-1]

'peach'

In [7]:
a_list[3]

'peach'

In [8]:
colors = ['red', 'blue', 'orange', 'purple', 'pink', 'green', 'brown', 'violet', 'white', 'black']
colors

['red',
 'blue',
 'orange',
 'purple',
 'pink',
 'green',
 'brown',
 'violet',
 'white',
 'black']

In [9]:
colors.append('indigo')
colors

['red',
 'blue',
 'orange',
 'purple',
 'pink',
 'green',
 'brown',
 'violet',
 'white',
 'black',
 'indigo']

In [10]:
colors.pop(0)

'red'

In [11]:
colors

['blue',
 'orange',
 'purple',
 'pink',
 'green',
 'brown',
 'violet',
 'white',
 'black',
 'indigo']

In [12]:
colors[-1]

'indigo'

In [13]:
colors[3]

'pink'

In [14]:
#remove() method. Removes a member by its name or its index
a_list.remove('mango')
a_list

['apple', 'banana', 'peach']

In [15]:
#copy() makes a copy of a list
b_list = a_list.copy()

In [16]:
b_list

['apple', 'banana', 'peach']

* ## Dictionaries
Used to store (key : value) pairs. The items in a dictionary are declared using curly brackets "{}"

In [18]:
#example of a dictionary
cars = {'Make': 'Toyota', 'Model' : 'Land Cruiser', 'Year':2022}
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2022}

In [19]:
# getting information using a key in a dictionary
cars['Make']

'Toyota'

In [20]:
#Changing the value stored with a key
cars['Year'] = 2023
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2023}

In [21]:
#Adding a new key:value pair to a dictionary
cars['Color'] = 'Black'
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2023, 'Color': 'Black'}

In [22]:
#values() method returns all the values of the dictionaries
cars.values()

dict_values(['Toyota', 'Land Cruiser', 2023, 'Black'])

In [23]:
#item() method returns key:value pairs
cars.items()

dict_items([('Make', 'Toyota'), ('Model', 'Land Cruiser'), ('Year', 2023), ('Color', 'Black')])

In [24]:
# Dictionary examples
bread = {'flour': 'wheat', 'type': 'white', 'sugar':43, 'sliced': True, 'crust':'butter'}
bread

{'flour': 'wheat',
 'type': 'white',
 'sugar': 43,
 'sliced': True,
 'crust': 'butter'}

In [25]:
bread['flour'] = 'rye'
bread

{'flour': 'rye',
 'type': 'white',
 'sugar': 43,
 'sliced': True,
 'crust': 'butter'}

In [26]:
bread['spice'] = 'cinnamon'
bread

{'flour': 'rye',
 'type': 'white',
 'sugar': 43,
 'sliced': True,
 'crust': 'butter',
 'spice': 'cinnamon'}

In [28]:
bread['type'] = 'sourdough'
bread

{'flour': 'rye',
 'type': 'sourdough',
 'sugar': 43,
 'sliced': True,
 'crust': 'butter',
 'spice': 'cinnamon'}

In [29]:
bread['sliced'] = False
bread

{'flour': 'rye',
 'type': 'sourdough',
 'sugar': 43,
 'sliced': False,
 'crust': 'butter',
 'spice': 'cinnamon'}