* Bsic Operations
     * Comparison Operators
     * if, elif, else ststements
     * for loops
     * while loops
     * range()
     * list comprehension
     * functions
     * lambda expressions
     * map and filter

* ## Range()

In [1]:
range(1,11) # This will return 1,2,3,4,5,6,7,8,9,10
#Will return Numbers between 1 includ and 11 excluded

range(1, 11)

In [2]:
range(1,11,2) # This will return 1,3,5,7,9

range(1, 11, 2)

In [3]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for _ in range(1,11):
    print(_)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in range(1,12,2):
    print(num)

1
3
5
7
9
11

In [6]:
for num in range(1,12,2):
    print(num**2)

1
9
25
49
81
121

In [7]:
for num in range(1,11,3):
    if num % 2== 0:
        print('Even number')
    else:
        print('Odd number')

Odd number
Even number
Odd number
Even number

* ## While loop

In [8]:
num = 1
while num <11:
    if num %2 != 0:
        print('Odd number')
    else:
        print('Even number')
    num = num+1

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

* # List Comprehension

In [9]:
for num in range(1,11,3):
    if num % 2== 0:
        print('Even number')
    else:
        print('Odd number')

Odd number
Even number
Odd number
Even number

In [10]:
w_list=[print('Even Number') if num %2 == 0 else print('Odd number') for num in range(11)]

Even Number
Odd number
Even Number
Odd number
Even Number
Odd number
Even Number
Odd number
Even Number
Odd number
Even Number

In [11]:
w_list

[None, None, None, None, None, None, None, None, None, None, None]

In [12]:
my_list= []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
[num**2  for num in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
[[num*3 for num in range(4)] for num in range(5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

* ## Dictionary comprehension

In [15]:
name = ['Moussa','Sall','Idris','George']

In [16]:
dico = {k:v for k,v in enumerate(name)}

In [17]:
dico

{0: 'Moussa', 1: 'Sall', 2: 'Idris', 3: 'George'}

In [18]:
gpa = [4,3.9,3.8,3.5]

In [19]:
name_gpg = {k:v for k,v in zip(name,gpa)}
name_gpg

{'Moussa': 4, 'Sall': 3.9, 'Idris': 3.8, 'George': 3.5}

In [20]:
def quare_roots_func(num):
    result = num**0.5
    return result

In [21]:
quare_roots_func(2)

1.4142135623730951

In [22]:
my_list= []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
def square_func(val):
    my_list = []
    for val in range(1,11):
        my_list.append(val**2)
        val = val+1
    return my_list

In [24]:
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
mylist = [2,-5,10,21,-17,55,-0.5,-78]

In [26]:
#list(enumerate(mylist))

In [27]:
def replace_by_zero(mylist):
    for idx, num in enumerate(mylist):
        if num < 0:
            mylist[idx] = 0
    return mylist

In [28]:
mylist

[2, -5, 10, 21, -17, 55, -0.5, -78]

In [29]:
replace_by_zero(mylist)

[2, 0, 10, 21, 0, 55, 0, 0]

In [30]:
# 7 = 7x6x5x4x3x2x1
def factoriel_func(num):
    p = 1
    i = 1
    while i <= num:
        p *= i
        i += 1
    return p

In [31]:
factoriel_func(7)

5040

* # Lambda expressions

In [32]:
def squares(num):
    result = num**2
    return result

In [33]:
squares(6)

36

In [34]:
l = lambda num: num*3

In [35]:
l(6)

18

In [36]:
a_list = [-1,4,-5,6,7,-11,20,21,33,-77]

In [37]:
list(map(l,ano_list))

NameError: name 'ano_list' is not defined

In [ ]:
list(filter(lambda num: num %2 != 0, ano_list))

In [ ]:
md_list = [2,12,-3,-5,17,22.0,99,-88]
# Use map to replace the odd numbers by 0. 
#And use filter to return the non-negative number

In [ ]:
def rnge(alist):
    for i in range(len(alist)):
        if alist[i]%2 != 0:
            alist[i] = 0
    return alist

In [ ]:
a_list[1]